@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');

html, body {
    font-family: 'Ubuntu Mono', monospace;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

log {
    color: #00ff99
}

info {
    color: #ffff99
}