
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

html, body {
    overflow: hidden;
    font-family: 'Inconsolata', sans-serif;
}
canvas{
    position: absolute;
    width: 100%;
	height: 100%;
    z-index: -1;
}

a{
   color: whitesmoke; 
}

#main_div {
	border: 2px solid black;
	background-color: rgba(15, 17, 26, 0.9);

    color: whitesmoke;

	position: absolute;
	margin: auto;
	overflow: auto;

	padding: 20px;

	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	min-width: 400px;
	min-height: 420px;

	width: 400px;
	height: 450px;

	text-align: center;
}